# Default ignored files
.idea/
/bot/userDict.json
/menu/savedMenus.json
/telegram_secrets.py
/bot/offsetFile.txt
/lecturePlan/.cache
/lecturePlan/raplaLinks.json
/bot/usageStats.json
/memes/*
!/memes/Memes.py